<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email de test</title>
</head>
<body>
<p>Emails de test :</p>
<ul>
    {{#each events}}
        <li>{{title}} le {{dateStart}}, {{location}}</li>
    {{/each}}
</ul>
<p>Ceci est un mail automatique, merci de ne pas y répondre.</p>
<p>Bien cordialement.</p>
</body>
</html>